
#fruitBox{
  width: 100%;
  /* background-color: yellowgreen; */
}

#fruitBox>div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom : 18px;
  position : relative;
  font-size: 14px;
}

#fruitBox>div>button{
  height :20px;
  width : 100px;
  color : #fff;
  background-color: #5f0080;
  display: flex;
  justify-content: center;
  align-items: center;
  border:none;
  /* border : 1px solid #aaa; */
}
#fruitBox>div>ul{
  position : absolute;
  top : 20px;
  right : 0;
  border : 1px solid #aaa;
  background-color: #fff;
  z-index: 100;
  width : 98px;
}


#fruitBox>div>ul>li>svg{
  font-size: 12px;
}
#fruitBox>div>ul>li{
  padding : 5px;
  text-align: center;
  border-bottom : 1px dotted #666;
  display: flex;
  align-items: center;
  justify-content: center;
  width : 100%;
  box-sizing: border-box;
}
#fruitBox>div>ul>li:first-child{
  border-top:none;
}
#fruitBox>div>ul>li:last-child{
  border:none;
}

#fruitBox>figure{
  position : relative;
}
#fruitBox>figure>img{
  width:100%;
  margin-bottom : 20px;
}
#fruitBox>figure>span{
  position : absolute;
  bottom: 18%;
  right : 3%;
  font-size: 24px;
  background-color: rgba(152, 20, 246, 0.52);
  border-radius: 50%;
  padding : 10px;
  text-align: center;
  color : #fff;
}
#fruitBox figcaption>dl{
  text-align : center;
  margin-bottom : 20px;
}

#fruitBox figcaption>dl>dt{
  font-weight: bold;
  margin-bottom : 10px;
}

#fruitBox figcaption>dl>dd{
  color : #777;
  font-size: 14px;
  margin-bottom : 10px;
}

#fruitBox figcaption>dl>dd:last-child{
  color : #000;
}