#search{
  display: flex;
  justify-content: center;
  margin-bottom : 25px;
}
#search>p{
  display: flex;
  align-items: center;
  border : 1px solid #cfcccc;
  padding : 1px 3px 1px 0;
}

input{
  margin : 0 10px;
  line-height: 20px;
  border : none;
  color : #666;
  text-align: center;
}

